#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [79]:
import pandas as pd
df = pd.read_csv('course/data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [19]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [47]:
grouped = df[['Branch','gross income']].groupby('Branch')
grouped.sum().sort_values('gross income', ascending = False)

        gross income
Branch
C          5265.1765
A          5057.1605
B          5057.0320

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [148]:
grouped2 = df[['City', 'gross income']].groupby('City')
grouped2.sum().sort_values('gross income', ascending = False).head(1)

           gross income
City
Naypyitaw     5265.1765

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [160]:
invoices_by_category = pd.pivot_table(df, index = 'Branch', columns = 'Product line', values = 'Invoice ID', aggfunc = "count")
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [209]:
invoices_by_category.sort_values('Electronic accessories', ascending = False).head(1)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59

–æ–ø—Ü—ñ—è 2, –≤–∏–≤–µ—Å—Ç–∏ —á–µ—Ä–µ–∑ max —è–∫–∏–º–æ—Å—å –ø—Ä–æ—Å—Ç—ñ—à–∏–º —Å–ø–æ—Å–æ–±–æ–º –Ω–µ –≤–¥–∞–ª–æ—Å—å

In [229]:
max_invoices = max(invoices_by_category["Electronic accessories"])
invoices_by_category.query('`Electronic accessories` == @max_invoices')

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –•—Ç–æ —Ä–æ–±–∏—Ç—å –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ - —á–æ–ª–æ–≤—ñ–∫–∏ —á–∏ –∂—ñ–Ω–∫–∏? 
2. –Ø–∫—ñ –Ω–∞–π–ø–æ–ø—É–ª—è—Ä–Ω—ñ—à—ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ —Å–µ—Ä–µ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ç–∞ –∂—ñ–Ω–æ–∫ –∑–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ (invoice id)?

In [308]:
popular_products = df[df.Gender == "Female"].groupby('Product line')
popular_products[ "Invoice ID"].count()

Product line
Electronic accessories    84
Fashion accessories       96
Food and beverages        90
Health and beauty         64
Home and lifestyle        79
Sports and travel         88
Name: Invoice ID, dtype: int64

In [353]:
female_filter = df[df.Gender == "Female"]
male_filter = df[df.Gender == "Male"]
products_female = female_filter["Product line"].value_counts().sort_values(ascending = False)
products_male = male_filter["Product line"].value_counts().sort_values(ascending = False)
products_female, sum(products_female), products_male, sum(products_male)

(Product line
 Fashion accessories       96
 Food and beverages        90
 Sports and travel         88
 Electronic accessories    84
 Home and lifestyle        79
 Health and beauty         64
 Name: count, dtype: int64,
 501,
 Product line
 Health and beauty         88
 Electronic accessories    86
 Food and beverages        84
 Fashion accessories       82
 Home and lifestyle        81
 Sports and travel         78
 Name: count, dtype: int64,
 499)

**–í–∏—Å–Ω–æ–≤–æ–∫**: –±–∞—á–∏–º–æ, —â–æ —Ä—ñ–∑–Ω–∏—Ü—è –≤ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ç–∞ –∂—ñ–Ω–æ–∫ - –º—ñ–Ω—ñ–º–∞–ª—å–Ω–∞ (499 vs 501). –¢–æ–º—É —Ç—É—Ç –Ω–µ –º–∞—î–º–æ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–∏—Ö —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó, –∑–º—ñ–Ω, –∞–¥–∂–µ –Ω–∞—à—ñ –ø–æ–∫—É–ø—Ü—ñ –∑–±–∞–ª–∞–Ω—Å–æ–≤–∞–Ω—ñ –ø–æ –≥–µ–Ω–¥–µ—Ä—É, —ñ –Ω–∞–º —Ç—Ä–µ–±–∞ –æ—Ä—ñ—î–Ω—Ç—É–≤–∞—Ç–∏—Å—å –Ω–∞ –æ–±–∏–¥–≤–∞ –≥–µ–Ω–¥–µ—Ä–∏. 
–©–æ–¥–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤, –±–∞—á–∏–º–æ —â–æ —É –∂—ñ–Ω–æ–∫ –Ω–∞–π–ø–æ–ø—É–ª—è—Ä–Ω—ñ—à—ñ Fashion accessories —Ç–∞ Food and begerages; —Ç–æ–¥—ñ —è–∫ –≤ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ -  Health and beauty —Ç–∞ Electronic accessories. –¢–∞–∫–∏–º —á–∏–Ω–æ–º, –∑–Ω–∞—é—á–∏ —Ü—ñ —Ç–æ–º 4 –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, –º–∏ –º–æ–∂–µ–º–æ –ø—ñ–¥—Å–∏–ª–∏—Ç–∏ —ó—Ö –º–∞—Ä–∫–µ—Ç–∏–Ω–≥, –ø–µ—Ä–µ–∫–æ–Ω–∞—Ç–∏—Å—å —â–æ –Ω–∞—è–≤–Ω—ñ —Ç–æ–≤–∞—Ä–∏ –¥–æ—Å—Ç–∞—Ç–Ω—ñ –≤ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–∞ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—ñ –¥–ª—è —Ç–æ–≥–æ —â–æ–± –ø—ñ–¥–≤–∏—â–∏—Ç–∏ —â–µ –±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–∂—ñ –ø–æ —Ü–∏–º –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º. 
–¢–∞–∫–æ–∂ –±–∞—á–∏–º–æ —â–æ  Home and lifestyle –ø–µ—Ä–µ–¥–æ—Å—Ç–∞–Ω–Ω—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –¥–ª—è –æ–±–æ—Ö –≥–µ–Ω–¥–µ—Ä—ñ–≤. –ú–æ–∂–ª–∏–≤–æ –≤–∞—Ä—Ç–æ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ –∑ —á–∏–∏ —Ü–µ –º–æ–∂–µ –±—É—Ç–∏ –ø–æ–≤—è–∑–∞–Ω–æ —Ç–∞ –∑—Ä–æ–∑—É–º—ñ—Ç–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—ñ –¥–ª—è —Ü—ñ—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.

3. –•—Ç–æ —Ä–æ–±–∏—Ç—å –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ Member —á–∏ Normal? –•—Ç–æ —Ä–æ–±–∏—Ç—å –ø–æ–∫—É–ø–∫–∏ –Ω–∞ –±—ñ–ª—å—à—ñ —Å—É–º–∏?

In [336]:
df['Customer type'].value_counts()

Customer type
Member    501
Normal    499
Name: count, dtype: int64

In [342]:
pd.pivot_table(df, index = ['Customer type'], values = ['Total'], aggfunc = ('count', 'sum', 'mean'))

              Total
              count        mean         sum
Customer type
Member          501  327.791305  164223.444
Normal          499  318.122856  158743.305

**–í–∏—Å–Ω–æ–≤–æ–∫**: –±–∞—á–∏–º–æ, —â–æ –ø–æ–ø—Ä–∏ –º–∞–π–∂–µ –æ–¥–Ω–∞–∫–æ–≤—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ (501 VS 499), Member –º–∞—é—Ç—å –≤–∏—â—É —Å–µ—Ä–µ–¥–Ω—é —Å—É–º—É –ø–æ–∫—É–ø–∫–∏ (327 VS 318) —Ç–∞ –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ –±—ñ–ª—å—à—É –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É —É—Å—ñ—Ö –ø–æ–∫—É–ø–æ–∫. –î–ª—è –ø–æ–¥–∞–ª—å—à–æ–≥–æ —Ä–æ–∑–≤–∏—Ç–∫—É –±—ñ–∑–Ω–µ—Å—É, –º–æ–∂–Ω–∞ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ –Ω–∞—è–≤–Ω—É –ø—Ä–æ–≥—Ä–∞–º—É –¥–ª—è —Ç–æ–≥–æ —â–æ–± —Å—Ç–∞—Ç–∏ Member - –≤ –ø–µ—Ä—à—É —á–µ—Ä–≥—É, –º–æ–∂–Ω–∞ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –Ω–∞—Å–∫—ñ–ª—å–∫–∏ –ª–µ–≥–∫–∏–π —Ç–∞ —à–≤–∏–¥–∫–∏–π —Ü–µ–π –ø—Ä–æ—Ü–µ—Å. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –≤ –¥–µ—è–∫–∏—Ö –º–∞–≥–∞–∑–∏–Ω–∞—Ö —Ü–µ –≤–∏–º–∞–≥–∞—î –∑–∞–ø–æ–≤–Ω–µ–Ω–Ω—è –∞–Ω–∫–µ—Ç–∏ –Ω–∞ –∫–∞—Å—ñ, —á–∏ –ø–æ–≤—ñ–¥–æ–º–ª–µ–Ω–Ω—è –æ—Å–æ–±–∏—Å—Ç–∏—Ö –¥–∞–Ω–Ω–∏—Ö, —Ç–æ–¥—ñ —è–∫ –≤ —ñ–Ω—à–∏—Ö - —î –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω–∞ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –ø—Ä–æ—Å—Ç–æ –∑–∞–≤–∞–Ω—Ç–∞–∂–∏—Ç–∏ –¥–æ–¥–∞—Ç–æ–∫, —â–æ –º–æ–∂–µ –±—É—Ç–∏ –∫—Ä–∞—â–æ—é –æ–ø—Ü—ñ—î—é –¥–ª—è –º–æ–ª–æ–¥—à–æ—ó –∞—É–¥–∏—Ç–æ—Ä—ñ—ó.